@media (max-width: 450px) {
    #header {
        display: flex;
        justify-content: center;
    }

    #title {
        transform: none !important;
    }

    #center-piece {
        flex-direction: column;
    }

    #about-btn, #works-btn {
        writing-mode: horizontal-tb !important;
    }

    .home-side-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60% !important;
        height: auto;
        align-items: center !important;
        height: 20px;
        margin-top: 50px;
    }

  }