@media (max-width: 450px) {
    #header {
        display: flex;
        justify-content: center;
        height: auto !important;
    }

    #title {
        transform: none !important;
    }

    #center-piece {
        flex-direction: column;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #about-btn, #works-btn {
        writing-mode: horizontal-tb !important;
    }

    .home-side-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60% !important;
        height: auto;
        align-items: center !important;
        height: 20px;
        margin-top: 50px;
    }

    .about-column-1 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 1 !important;
        grid-row-end: 2 !important;
    }
    
    .about-column-2 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 2 !important;
        grid-row-end: 3 !important;
    }
    
    .about-column-3 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 3 !important;
        grid-row-end: 4 !important;
    }

  }