body {
    /* background: url("images/background-white.png") top right no-repeat; */
    background: url("images/pattern.jpeg") top right no-repeat;
    background-size: cover;
    /* background-attachment:fixed; */
    text-align: center;
}

#header {
    height: 20px;
    display: flex;
}

#title {
    font-family: 'Reenie Beanie', cursive;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    transform: rotate(-20deg);
    text-decoration: none;
    color: black !important;
    outline: none;
    outline: 0;
}

#center-piece {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    vertical-align: middle;
}

#main-img {
    max-height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.home-side-btn {
    width: 10%;
    text-align: center;
    padding: 50px;
    font-family: 'Chathura', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.308);
    outline: 0;
}

#works-btn {
    writing-mode: vertical-rl;
}

#about-btn {
    writing-mode: vertical-lr;
}

a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    outline: 0;
}

#social-icon, #social-icon:hover, #social-icon:focus, #social-icon:active, #social-icon:visited {
    text-decoration: none;
    color: black !important;
    outline: none;
    outline: 0;
}

#social-icon:hover {
    color: rgba(0, 0, 0, 0.308) !important;
}

.home-icon-list {
    padding: 0;
    list-style-type: none;
    padding-top: 15px;
}



/* ABOUT PAGE */



#about-title {
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: 'Reenie Beanie', cursive;
}

.about-container {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 40px;
}

.about-column-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-row-start: 1;
    grid-row-end: 2; */
}

.about-column-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    /* grid-row-start: 1;
    grid-row-end: 2; */
}

.about-column-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    /* grid-row-start: 1;
    grid-row-end: 2; */
}

.about-card-title {
    font-family: 'VT323', monospace;
    text-align: left;
}

.about-card-content {
    font-family: 'Cutive Mono', monospace;
    text-align: left;
    margin: 0;
}

#download-cv-icon {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.479) !important;
    outline: none;
    outline: 0;
}

#download-cv-icon:hover {
    /* color: rgba(0, 0, 0, 0.308) !important; */
}

#download-cv-icon, #download-cv-icon:hover, #download-cv-icon:focus, #download-cv-icon:active, #download-cv-icon:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.404) !important;
    outline: none;
    outline: 0;
}

.skills-subtitle {
    font-family: 'Cutive Mono', monospace;
    text-align: left;
    margin: 0;
    display: flex;
}

.technology-card {
    font-family: 'Cutive Mono', monospace;
    font-size: 13px;
    margin: 1.6px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid black;
    border-radius: 10px;

}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    
}

#dev-icon {
    font-size: 14px;
    line-height: inherit;
    margin-left: 3px;
    margin-right: 3px;
}
