body {
    background: url("images/background-white.png") top right no-repeat;
    background-size: auto;
    background-attachment:fixed;
    text-align: center;
}

#header {
    height: 20px;
    display: flex;
}

#title {
    font-family: 'Reenie Beanie', cursive;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 2rem;
}

#center-piece {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-img {
    max-height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.home-side-btn {
    width: 10%;
    writing-mode: sideways-lr;
    text-align: center;
    padding: 50px;
    font-family: 'Chathura', sans-serif;
    font-size: 2.5rem;;
    letter-spacing: 4px;
}