body {
    background: url("images/background-white.png") top right no-repeat;
    background-size: auto;
    /* background-attachment:fixed; */
    text-align: center;
}

#header {
    height: 20px;
    display: flex;
}

#title {
    font-family: 'Reenie Beanie', cursive;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    transform: rotate(-20deg);
    text-decoration: none;
    color: black !important;
    outline: none;
    outline: 0;
}

#center-piece {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-img {
    max-height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.home-side-btn {
    width: 10%;
    text-align: center;
    padding: 50px;
    font-family: 'Chathura', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.308);
    outline: 0;
}

#works-btn {
    writing-mode: vertical-rl;
}

#about-btn {
    writing-mode: vertical-lr;
}

a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    outline: 0;
}

#social-icon, #social-icon:hover, #social-icon:focus, #social-icon:active, #social-icon:visited {
    text-decoration: none;
    color: black !important;
    outline: none;
    outline: 0;
}

#social-icon:hover {
    color: rgba(0, 0, 0, 0.308) !important;
}

ul {
    padding: 0;
    list-style-type: none;
    padding-top: 15px;
}



/* ABOUT PAGE */



#about-title {
    margin-top: 6%;
    font-family: 'Reenie Beanie', cursive;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
}

.about-column-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about-column-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about-column-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about-column-3, .about-column-2, .about-column-1 {
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}