@media (max-width:800px) {

    #header {
        height: auto !important;
    }

    #center-piece {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .about-column-1 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 1 !important;
        grid-row-end: 2 !important;
    }
    
    .about-column-2 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 2 !important;
        grid-row-end: 3 !important;
    }
    
    .about-column-3 {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 3 !important;
        grid-row-end: 4 !important;
    }
  }