@media (max-width:900px) {

    #header {
        height: auto !important;
    }

    #center-piece {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .about-container {
        display: grid;
        grid-template-columns: 10% 80% 10% !important;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 40px;
    }

    .about-column-1 {
        grid-column-start: 2 !important;
        grid-column-end: 3 !important;
        grid-row-start: 1 !important;
        grid-row-end: 2 !important;
    }
    
    .about-column-2 {
        grid-column-start: 2 !important;
        grid-column-end: 3 !important;
        grid-row-start: 2 !important;
        grid-row-end: 3 !important;
    }
    
    .about-column-3 {
        grid-column-start: 2 !important;
        grid-column-end: 3 !important;
        grid-row-start: 3 !important;
        grid-row-end: 4 !important;
    }
  }